/* 
Dark: #011638
Mid: #0D21A1
White: #FFFFFF 
*/

* {
  font-family: 'Playfair Display', serif;
}

body {
  background-color: #e5e5f7;
  opacity: 0.8;
  background-image: radial-gradient(#4546f7 0.45px, #e5e5f7 0.45px);
  background-size: 9px 9px;
}

.main-section-container {
  display: flex;
  width: 100%;
  flex-direction: column;
}

.main-header {
  opacity: 1;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding-top: 6vh;
}

#pelican {
  width: 10%;
  border-radius: 50%;
}

#logo-link {
  display: flex;
  align-items: center;
  justify-content: center;
}

#github {
  width: 5%;
  border-radius: 14px;
  display: flex;
  background-color: #e5e5f7;
}

.main-content {
  display: grid;
  height: 100%;
  width: 100%;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: repeat(4, 1fr);
  overflow: visible;
  justify-content: center;
  align-items: center;
}

[class^='blog-post-'] {
  background-color: #ffffff;
  display: flex;
  justify-content: center;
  align-items: flex-start;
  padding-top: 7vh;
  width: 40vw;
  min-height: 50vh;
  max-height: 50vh;
  margin: 3%;
  border: solid;
  border-radius: 10px;
  border-color: #4546f7;
  place-self: center;
}

.blog-link {
  display: flex;
  justify-content: center;
  align-items: center;
  text-decoration: none;
  color: #1a1aa9;
}

.home-text {
  background-color: #e5e5f7;
  color: #03033a;
}

.sub-home-text {
  margin-top: -3vh;
}

.blog-post-1 {
  flex-direction: column;
  justify-content: flex-end;
  align-items: flex-start;
  color: #03033a;
}

.blog1-title {
  padding-left: 2vw;
  font-size: 14px;
  margin-bottom: 0;
}

.blog1-sub-title {
  padding-left: 2vw;
  padding-bottom: 10vh;
  text-decoration: underline;
  font-size: 15.5px;
  margin-top: 0;
}

.blog-post-2 {
  flex-direction: column;
  justify-content: flex-end;
  align-items: flex-start;
  color: #03033a;
}

/* .blog2-margin {
  background-color: #e5e5f7;
  
}

.blog2-border {
  background-color: #f3de8a;
  
}

.blog2-padding {
  background-color: #a6d3a0;
  
} */

.blog2-title {
  padding-left: 2vw;
  font-size: 14px;
  /* width: max(48px); */
  margin-bottom: 0;
}

.blog2-sub-title {
  padding-left: 2vw;
  padding-bottom: 10vh;
  text-decoration: underline;
  font-size: 15.5px;
  margin-top: 0;
}

.blog-header {
  background-color: #e5e5f7;
  color: #03033a;
  font-size: 5em;
  font-weight: 600;
  width: fit-content;
  padding-left: 0.5em;
}

.blog-container {
  display: flex;
  flex-direction: column;
}

.blog-content {
  background-color: #e5e5f7;
  color: #03033a;
  border-left: solid;
  padding-left: 0.5em;
  margin-left: 1.5em;
  margin-top: 1em;
}

.margin-display {
  position: relative;
  background: #b68741;
  margin-top: -5em;
  margin-left: 2em;
  margin-bottom: -5em;
  height: 28em;
  width: 28em;
  aspect-ratio: 1;
  clip-path: polygon(8% 30%, 92% 30%, 92% 70%, 8% 70%);
}

.border-display {
  position: absolute;
  background: #edc180;
  margin-top: 2em;
  margin-left: 2em;
  height: 24em;
  width: 24em;
  aspect-ratio: 1;
  clip-path: polygon(8% 30%, 92% 30%, 92% 70%, 8% 70%);
}

.padding-display {
  position: absolute;
  background: #6bb679;
  margin-top: 2em;
  margin-left: 2em;
  height: 20em;
  width: 20em;
  aspect-ratio: 1;
  clip-path: polygon(8% 30%, 92% 30%, 92% 70%, 8% 70%);
}

.content-display {
  position: absolute;
  background: #45a7f7;
  height: 16em;
  width: 17em;
  margin-top: 2em;
  margin-left: 1.5em;
  aspect-ratio: 1;
  clip-path: polygon(8% 30%, 92% 30%, 92% 70%, 8% 70%);
}

.navbar {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  border-bottom: solid;
  border-width: max(10px);
}

.nav-items {
  background-color: #e5e5f7;
  color: #03033a;
}

.nav-items > a {
  text-decoration: none;
  color: #03033a;
}

.nav-items > a:hover {
  text-decoration: none;
  color: #0a0ab8;
}

.important-text {
  font-size: 1.5em;
  background-color: #45a7f7;
  color: #03033a;
}

.margin-header {
  background-color: #b68741;
}

.border-header {
  background-color: #edc180;
}

.padding-header {
  background-color: #6bb679;
}

.content-highlight {
  background-color: #45a7f7;
}

@media only screen and (max-width: 1197px) {
  .blog2-title,
  .blog1-title {
    padding-left: 2vw;
  }
}

@media only screen and (max-width: 1418px) {
  .blog1-sub-title {
    max-width: 100px;
  }
  .blog2-sub-title {
    max-width: 110px;
  }
}

@media only screen and (max-width: 1195px) {
  .blog1-title,
  .blog2-title {
    max-width: 30px;
  }
  .blog1-sub-title,
  .blog2-sub-title {
    padding-bottom: 7vh;
  }
}

@media only screen and (max-width: 915px) {
  .blog1-sub-title,
  .blog2-sub-title {
    max-width: 50px;
    padding-bottom: 4vh;
  }
}

/* @media only screen and (max-width: 580px) {
  .margin-display {
    position: relative;
    background: #b68741;
    margin-top: -5em;
    margin-right: min(2em);
    margin-bottom: -5em;
    height: 28em;
    width: 28em;
    aspect-ratio: 1;
    clip-path: polygon(8% 30%, 92% 30%, 92% 70%, 8% 70%);
  }

  .border-display {
    position: absolute;
    background: #edc180;
    margin-top: 2em;
    height: 24em;
    width: 24em;
    aspect-ratio: 1;
    clip-path: polygon(8% 30%, 92% 30%, 92% 70%, 8% 70%);
  }

  .padding-display {
    position: absolute;
    background: #6bb679;
    margin-top: 2em;
    height: 20em;
    width: 20em;
    aspect-ratio: 1;
    clip-path: polygon(8% 30%, 92% 30%, 92% 70%, 8% 70%);
  }

  .content-display {
    position: absolute;
    background: #45a7f7;
    height: 16em;
    width: 17em;
    margin-top: 2em;
    aspect-ratio: 1;
    clip-path: polygon(8% 30%, 92% 30%, 92% 70%, 8% 70%);
  }
} */
